{% extends 'layout.html.twig' %}

{% block title %}CMS Login{% endblock %}

{% block body %}
    <div class="col-4 offset-4 mt-4">
        <div class="card">
            <div class="card-body login-card-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <p class="login-box-msg">Prihláste sa, prosím</p>
                <form action="{{ path('login') }}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="_username" placeholder="Prihlasovacie meno">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="_password" placeholder="Heslo">
                     </div>
                    <div class="row">
                        <div class="col-6 offset-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Prihlásiť sa</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
