{% extends "layout.html.twig" %}
{% block content %}


    <div class="dropdown">
        <a class="btn btn-dark" href="/novy_clanok" role="button">Pridaj článok</a>
    </div>

s

        {% for clanok in clanky %}
            <div class="card">
            <div class="card-body", style="margin: 1rem">
                <h3 class="card-title">{{ clanok.nazov }}</h3>
                <p class="card-text">{{ clanok.text }}</p>
            </div>
            </div>
        {% endfor %}



{% endblock %}