{% extends "layout.html.twig" %}
{% block content %}

    <div class="dropdown">
        <a class="btn btn-dark" href="/" role="button">Späť</a>
    </div>
    <div class="row">
            <div>
                <h1>{{ polozky.nazov }}</h1>
                <h2>{{ polozky.cena }}€</h2>
                <form method="post">
                    {% if vKosiku %}
                        <button class="btn btn-success" disabled>Tovar je v košíku</button>
                    {% else %}
                        <button class="btn btn-primary">Pridať do košíka</button>
                    {% endif %}
                </form>
                    <div class="card" style="width: 25rem;margin-left: 35%; height: 25rem;">
                        {% if polozky.obrazok %}<img class="card-img-top smalling" src="/images/{{ polozky.obrazok }}">{% endif %}
                    </div>
            </div>

                    <div class="card-body text-center">
                        <p class="card-text">
                            {{ polozky.opis }}
                        </p>

                    </div>

    </div>
{% endblock %}